.clear {
  clear: both;
  margin: 0;
  padding: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  height: 0;
  overflow: hidden;
  display: block;
  visibility: hidden;
  content: ".";
}

.main-inner {
width: 1000px;
margin:25px auto;
}
/*拍客重改列表排版*/
.new-hd-list ul li{
width: 310px;
height: 380px;
border-radius: 6px;
border: solid #dedede thin;
float: left;
margin-bottom: 30px;
background: #fff;
margin-right: 22px;
-webkit-transition: all .5s ease 0s;
-moz-transition: all .5s ease 0s;
-o-transition: all .5s ease 0s;
position: relative;
}

.new-hd-list ul li:hover {
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-moz-transform: translate(0px,-5px);
	-webkit-transform: translate(0px,-5px);
	-o-transform: translate(0px,-5px);
	-ms-transform: translate(0px,-5px);
	transform: translate(0px,-5px);
	-webkit-box-shadow: 0 5px 10px rgba(67,72,84,.3);
	-moz-box-shadow: 0 5px 10px rgba(67,72,84,.3);
	-o-box-shadow: 0 5px 10px rgba(67,72,84,.3);
	box-shadow: 0 5px 10px rgba(67,72,84,.3);
}
.new-hd-list ul li .pitem {
position: relative;
display: block;
width: 100%;
height: 100%;
}
.new-hd-list ul li .pitem-title {
font-size: 18px;
padding: 15px;
color: #333;
line-height: 25px;
}

.new-hd-list ul li .pitem-cover {
	width: 310px;
 height: 204px;
 overflow: hidden;
background-size: cover;
-ms-behavior: url(http://ggd.oeeee.com/Public/themes/ggd/css/channel/backgroundsize.min.htc);
behavior: url(http://ggd.oeeee.com/Public/themes/ggd/css/channel/backgroundsize.min.htc);
background-position: 50% 50%;
border-radius: 6px 6px 0 0;
}

.new-hd-list ul li .pitem-content {
font-size: 14px;
color: #888;
height: 73px;
padding: 15px;
padding-top: 0;
line-height: 21px;
text-align: left;
overflow: hidden;
}
.new-hd-list ul li .pitem-event-cover {
position: absolute;
width: 100%;
height: 100%;
left: 0;
top: 0;
}
.new-hd-list ul li p.p-status {
font-size: 12px;
padding: 4px 10px;
text-align: center;
color: #888;
}
.new-hd-list ul li .lb-bg,.new-hd-list ul li .lb-txt{ position: absolute; right: 20px; top: 0; z-index: 1000;border-radius: 0 0 5px 5px; font-size: 12px; width: 40px; height: 40px; line-height: 40px;}
.movie-images {
background-color: white;
width: 120px;
height: 120px;
overflow: hidden;
position: relative;
float: left;
margin-right: 20px;
}
.movie-images img{ width: 100%}
h1 {margin-top: 20px;margin-bottom: 10px;font-size: 36px;}
p{ line-height: 1.8em; color: #333}